.tools a {
	width: 8%;  
	padding-top: 6%;
	display: block; 
	border: solid 1px #000; 
	margin: 0 1px 0 0; 
	float: left;
	padding-top: 4px; 
	padding-bottom: 5px; 
	text-align: center; 
}
canvas {
	width: 99%;
}
